.experience-body{
    margin: 20px;
    padding: 20px 40px 20px 40px ;
    background-color: #202226;
    h3{
        margin-top: 0px;
        padding-top: 0px;
        font-size: 19px;
        color: #f0b477;
    }
}

.experience-body__logo{
    font-size: 22px;
    padding-left: 20px;
    color: #81f077;
}

.formation{
    margin-bottom: 15px;
}

.experience-body__description{
    h3{
        padding-top: 5px;
        color: black;
    }
    ul{
        padding: 10px 0px 20px 20px;
    }
}