.Hobby-body{
    margin: 20px;
    padding: 20px 40px 20px 40px ;
    background-color: #202226;
    h3{
        margin-top: 0px;
        padding-top: 0px;
        font-size: 19px;
        color: #f0b477;
    }

}

.music-pictures{
    display: flex; 
    img{
        padding-left: 40px;
        width: 200px;
        height: 150px;
        &:hover{
            opacity: 0.5;
        }
    }
}