@media screen and (max-width: 768px) {

    .degree-body {
        padding: 15px;
        h3 {
            font-size: 17px;
        }

        p{
            font-size: 16px;
            text-align: left;
        }
    }

}