.stacks-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: #f0b477;
    }
}

.stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stack-container__logo {
    box-shadow: 0px 1px 3px 3px #f0b477;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 400ms;
    .logostack{
        transition: ease-in-out 500ms;
        font-size: 35px;
    }

    .hand{
        transition: ease-in-out 500ms;
        font-size: 0px;
    }

    &:hover {
        box-shadow: 0 14px 18px 0 rgba(0,0,0,0.2);
        .hand{
            font-size: 35px;
        }
        .logostack{
            font-size: 0px;
        }
    }
    &:active{
        background-color: #898282;
    }
}

.stack-container__description {
    width: 150px;
    height: 150px;

    ul {
        list-style-type: none;
        text-align: center;
        font-size: 20px;
        padding-left: 0px;
        margin-left: 0px;
    }
}

h2 {
    display: flex;
    justify-content: center;
}

.Hidden{
    visibility: hidden;
}